<div class='row'>
  <div class="col-md-offset-0 col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading text-center">
        <h1>Create a New Post</h1>
      </div>
      <div class="panel-body">
        <div class='col-md-offset-2 col-md-8'>
          <form class="" role="search">
            <div class="form-group">
              <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon1">Post Title</span>
                <input type="text" class="form-control" placeholder="Enter Title" aria-describedby="sizing-addon1">
              </div>
            </div>

            <div class="form-group">
              <label for="comment">Post Description, what's the post about? :</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>

            <div class="btn-group" role="group">
              <button type="button" class="btn btn-success">Create New Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>